<div class="container" id="listagemUsuarios">

    <div class="row mb-2">
        <div class="col-12">
            <a class="btn btn-primary btn-dark" href="#" id="carregaFormUsuario" role="button">Novo</a>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Login</th>
                        <th scope="col">Editar</th>
                        <th scope="col">Excluir</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- START BLOCK : list_usuarios -->
                    <tr>
                        <td scope="row">{cdusuario}</th>
                        <td>{nome}</td>
                        <td>{login}</td>
                        <td scope="row">
                            <button type="button" onclick="carregaFormUsuario({cdusuario})">
                                <i class="fas fa-user-edit"></i>
                            </button>
                        </td>
                        <td scope="row">
                            <button type="button" onclick="removeUsuario({cdusuario})">
                                <i class="fas fa-user-minus"></i>
                            </button>
                        </td>
                    </tr>
                    <!-- END BLOCK : list_usuarios -->
                </tbody>
            </table>            
        </div>        
    </div>

</div>

<div class="container" id="cadastroUsuario">
	
	<form class="form-group" name="formUsuario" id="formUsuario">
		<input type="hidden" name="idUsuario" id="idUsuario">
		Nome: <input type="text" class="form-control" id="nmUsuario" name="nmUsuario">
		<br>
		Login: <input type="text" class="form-control" id="loginUsuario" name="loginUsuario">
		<br>
		Senha: <input type="password" class="form-control" id="senhaUsuario" name="senhaUsuario">
		<br>
		<button id="enviaFormUsuario" type="button" class="btn btn-primary btn-dark">Salvar</button>
	</form>

</div>