<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Sistema</th>
      <th scope="col">Categoria</th>
      <th scope="col">Usuário Abert.</th>
      <th scope="col">Regra</th>
    </tr>
  </thead>
  <tbody>
  	<!-- START BLOCK : list_regra -->
    <tr>
      <th scope="row">{cdregra}</th>
      <td>{sistema}</td>
      <td>{categoria}</td>
      <td>{usuario}</td>
      <td>{regra}</td>
    </tr>
    <!-- END BLOCK : list_regra -->
  </tbody>
</table>