<div class="container-fluid">

  <!-- START BLOCK : tbl_regra -->

  <div id="box-search" class="mb-2 p-3 bg-dark">
    <form class="form-inline d-flex justify-content-center" id="form-search" action="#">
      <input class="form-control col-9 mr-1" id="procura-master" placeholder="Procure pelo sistema, categoria ou texto">
      <button class="btn btn-outline-light col-2" id="btn-procura-master" type="button">Procurar</button>
    </form>
    </div>
    
   

  <table class="table table-bordered table-striped">
    <thead class="">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Sistema</th>
        <th scope="col">Categoria</th>
        <th scope="col">Usuário Abert.</th>
        <th scope="col">Regra</th>
        <th scope="col">Editar</th>
        <th scope="col">Excluir</th>
      </tr>
    </thead>
    <tbody>
    	<!-- START BLOCK : list_regra -->
      <tr>
        <th scope="row">{cdregra}</th>
        <td scope="row">{sistema}</td>
        <td scope="row">{categoria}</td>
        <td scope="row">{usuario}</td>
        <td scope="row">{regra}</td>
        <td scope="row">
          <button type="button" onclick="carregraRegra({cdregra})">
            <i class="fas fa-edit"></i>
          </button>
        </td>
        <td scope="row">
          <button type="button" onclick="removeRegra({cdregra})">
            <i class="fas fa-trash"></i>
          </button>
        </td>
      </tr>
      <!-- END BLOCK : list_regra -->
    </tbody>
  </table>
  <!-- END BLOCK : tbl_regra -->
</div>