<nav class="navbar navbar-dark bg-dark mb-2">  
	<a class="navbar-brand" href="home.php">Dashboard</a>
	
    <form class="form-inline my-2 my-lg-0" id="formLogin" name="formLogin">
      <input class="form-control mr-sm-2" type="text" name="login" id="login" placeholder="Login" aria-label="Login">
	    <input class="form-control mr-sm-2" type="password" name="senha" id="senha" placeholder="Senha" aria-label="Senha">
      <button class="btn btn-outline-info my-2 my-sm-0" id="enviaLogin" type="button">Entrar</button>
    </form>	

    <div class="dropdown" id="admin-dropdown">
      <button type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown">
        Administração
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" id="cadastrarUsuarios" href="#">Cadastro de Usuários</a>
        <a class="dropdown-item" id="listarRegras" href="#">Cadastro de Regras de Negócio</a>
        <a class="dropdown-item" id="sair" href="#">Sair</a>
      </div>
    </div>    
	
</nav>